# Data structures in Python

As wikipedia says,

A data structure is a data organization, management, and storage format that enables efficient accessa nd modification. 
More precisely, a data structure is a collection of data values, the relationships among them, and the functions
or operations that can be applied to the data.

Built in Data structures in python 
1. Lists
2. Tuples
3. Dictionaries
4. Sets
5. Strings
6. Arrays


# List(heterogenous mutable sequence)

1. Lists is an ordered collection of mutable objects
2. The items should be enclosed in a square brackets
3. Size of the list can be changed. Hence the name mutable data type
4. List has zero based indexing
5. List can be heterogenous
6. It can take duplicate values also


eg:-
listA=[1,2,3,4,12]

listB=[1,2,3,"hello",1.2]

listC=[ ]

In [2]:
A=[3,2,1]

In [3]:
b=[1,2,3]

In [4]:
c=["strings","bools","float",True,6.7,7]

In [7]:
A[1]

2

##To create lists

In [8]:
lst0=[] #an empty list

In [185]:
lst0

[]

In [10]:
animals=["cow","duck","hen","pig","goat","duck","rabbit","horse","hen","goat","cow","pig","rabbit","horse"]

In [68]:
lst1=[1,2,3,4,5,6,7,]

In [26]:
lst2=[1.2,2.3,3.4,2.3,3.4,5.6]

In [22]:
lst3=["I","love","Python!"]

In [33]:
lst4=["We","have",2,"cats",True]

In [24]:
lst5=[[1,2.1,3],[4.3,5,6],[7,8,9.9]] #nested lists

In [14]:
C=[[1,2,3],3,4,[1,23]]

In [15]:

D=[[1,2,3],2,"rtytt"]

In [17]:
E=[5.6,8,9,[9,8,9,0],"IUU","KOI"]

#acessing list items by index positions

In [22]:
lst1[0]
lst1[3]

4

In [25]:
lst5[1][2]

6

In [29]:
lst2[-1]
lst2[-3]

2.3

#slicing of a list

In [31]:
lst1[0:3]# FIRST 2 elements from the list

[1, 2, 3]

In [35]:
lst4[:] # returns all elements from 2nd

['We', 'have', 2, 'cats', True]

In [50]:
lst4[:3] # returns all elements till 3rd

['We', 'have', 2]

In [51]:
lst3[:] #gives all the elements in the list

['I', 'love', 'Python!']

In [36]:
lst1[1:-1]

[2, 3, 4, 5, 6]

# List Methods

#Adding an item in to the list. 

Adds an object to the end of the list.

Append keyword is used to add an item to the list

In [139]:
a=["Apple","Orange","Lemon"]

In [141]:
a.append("Mango")

In [143]:
a[2]

'Lemon'

In [144]:
# we can also change a list item in this manner
a[2]="Jackfruit"

In [145]:
a

['Apple', 'Orange', 'Jackfruit', 'Mango']

In [147]:
a

['Apple', 'Orange', 'Jackfruit', 111, 'Mango']

Inserting an object

In [146]:
a.insert(3,111) #Insert can be used for addition of element at the desired position
a

['Apple', 'Orange', 'Jackfruit', 111, 'Mango']

Extending a list

In [148]:
a.extend(["a","b","c",3,3.5,3]) #Addition of multiple elements in a List at the same time 
#a.extend(lst1)
a

['Apple', 'Orange', 'Jackfruit', 111, 'Mango', 'a', 'b', 'c', 3, 3.5, 3]

To Remove  items from list

In [149]:
a.remove(3) # removes the 3 in the list. If there are many 3s , then the first 3 in the list will be deleted
a

['Apple', 'Orange', 'Jackfruit', 111, 'Mango', 'a', 'b', 'c', 3.5, 3]

To delete a list completely

In [150]:
lst5

[[1, 2.1, 3], [4.3, 5, 6], [7, 8, 9.9]]

In [151]:
del lst5

In [152]:
lst5

NameError: name 'lst5' is not defined

In [155]:
a

['Apple', 'Orange', 'Jackfruit', 111, 'Mango', 'a', 'b', 'c', 3.5]

To remove and return elements

In [156]:
#print(a.pop())# by default it pops the last element in the list
print(a.pop(3))# provide index position to get the element

111

To delete all elements in the list

In [157]:
lst1.clear()# list will be retained as an empty list
lst1

[]

In [158]:
lst2

[1.2, 2.3, 3.4, 2.3, 3.4, 5.6]

In [159]:
lst2.index(2.3)# to find the index of an item in the list

1

In [161]:
animals.count("cow") #Return the number of times x appears in the list.

2

In [160]:
animals

['cow',
 'duck',
 'hen',
 'pig',
 'goat',
 'duck',
 'rabbit',
 'horse',
 'hen',
 'goat',
 'cow',
 'pig',
 'rabbit',
 'horse']

To sort the elements in a list

In [162]:
num=[212,51,11,21,-1,4.443,3.443,1,0.345]
num.sort()
num

[-1, 0.345, 1, 3.443, 4.443, 11, 21, 51, 212]

In [163]:
names=["Tim","tum","tim","Rin","Ann","Mau","Tao","Lin","Sam"]
names.sort()
names

['Ann', 'Lin', 'Mau', 'Rin', 'Sam', 'Tao', 'Tim', 'tim', 'tum']

In [164]:
names.reverse()# to reverse a list
names

['tum', 'tim', 'Tim', 'Tao', 'Sam', 'Rin', 'Mau', 'Lin', 'Ann']

In [ ]:
y=[8,9]
a=y

#Methods to Copy lists

In [165]:
c=[12,13]   # new_C= c will only point to c and so any changes in c will get reflected in new_C also. 
new_C=c.copy()

In [166]:
new_C

[12, 13]

# Basic List Operators

In [175]:
[1,2,3]+[2,3,4] #+ concates 2 lists

[1, 2, 3, 2, 3, 4]

In [176]:
["a","b","c"]+["x","y","z"]+[1.2,3.4]

['a', 'b', 'c', 'x', 'y', 'z', 1.2, 3.4]

In [177]:
[1,2,3]*3 # creates repetition of the list elements

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [179]:
["Hello!"]*5

['Hello!', 'Hello!', 'Hello!', 'Hello!', 'Hello!']

In [181]:
3 in [2,3,22,33] #member of a list

True

In [182]:
for i in [1,2,3]: print(i) # iteration

1
2
3

In [183]:
for i in a:
    print(i)

Apple
Orange
Jackfruit
Mango
a
b
c
3.5

In [184]:
"*"*10

'**********'

# List Functions

In [186]:
lst1=[1,2,3,4,5,6,7] #length of a list
print(len(lst0))
print(len(lst1))

0
7

In [187]:
y=1,2,3 #to covert any sequence to a list
#a=list("123")

y1=list(y)
y1

[1, 2, 3]

In [188]:
max(lst1)

7

In [189]:
min(lst1)

1

In [191]:
sum(lst1)# sum

28

# List Comphrehensions and dict comphrehensions at the end

List comprehensions provide a concise way to create lists. 
Common applications are to make new lists where each element 
is the result of some operations applied to each member of 
another sequence or iterable, or to create a subsequence of those elements that satisfy a certain condition.

In [160]:
squares = [x**2 for x in range(10)]

In [161]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [162]:
Z=[-1,2,-3,4,-5]
[x for x in z if x >= 0]

[2, 4]

In [13]:
x=list("LIST")

In [14]:
x

['L', 'I', 'S', 'T']

In [193]:
keys = ['a','b','c','d','e'] 
values = [1,2,3,4,5] 
mDict = { k:v for (k,v) in zip(keys, values)}

In [194]:
mDict

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}