# Strings (Immutable sequence)

1. Strings are immutable sequence of characters
2. A character sequence to be a string, it should be inside quotes(single, double ot triple

In [1]:
# creating a string

a="Hello1"
b='Hello'
c='''2.3'''

In [2]:
print(a)
print(b)
print(c)

Hello1
Hello
2.3

In [3]:
#Acessing string chars
a[0]

'H'

In [4]:
a[1]

'e'

In [6]:
c[2]

'3'

In [8]:
# slicing
a[2:]

'llo1'

In [9]:
#negative indexing
b[:-1]

'Hell'

In [13]:
# adding two strings
a+b# concatenation

'Hello1Hello'

In [14]:
'This '+"is "+"a "+"string"

'This is a string'

In [16]:
i=2# printing strings
j=3
print("No. of balls is " ,i)
print("She has "+str(i)+" dogs and "+str(j)+" cats") #output will be a string

No. of balls is  2
She has 2 dogs and 3 cats

In [17]:
a==b#comparison >=,<=,!=

False

In [18]:
b.isalpha()# only alphabets

True

In [19]:
a.isdigit()# only numbers

False

In [21]:
a.isalnum()# only alphabets and numbers

True

In [22]:
a

'Hello1'

In [23]:
d="2A2"
print(d.isalnum())
d.isdigit()

True

False

In [24]:
"Pythonworld".istitle() # Is the first letter of the word upper?

True

In [25]:
"AA".isupper()# are all upper case?

True

In [26]:
"python".islower() #Are all lower case?

True

In [27]:
string="Checking for spaces" # Is is only space?
string.isspace()

False

In [28]:
len(string)# length of the string

19

In [29]:
string.title() # first letter of each word is made capital

'Checking For Spaces'

In [30]:
Repl="I like cats"#replacing a string in the word
Repl.replace('cats','rabbits')

'I like rabbits'

In [31]:
check="checking for the position of a word in the string" #returns the index of the first letter of the word in string
check.find("position")
#check.find("for")

17

In [36]:
case="hAppy bIrTHdAy"# swaps the cases
case.swapcase()

'HaPPY BiRthDaY'

In [33]:
case.capitalize() # first letter of the string is made upper

'Happy birthday'

In [37]:
case.lower()#lower case

'happy birthday'

In [35]:
case.upper()# all upper case

'HAPPY BIRTHDAY'

In [38]:
string.count('e')# count of an alphabet in the string

2

In [39]:
for i in ["Tokyo","Istanbul","Lisbon","Trivandum","Lyon","Prague","Toronto"]:
    if(i.startswith('T')):# checks if the string starts with a letter 
        print(i)

Tokyo
Trivandum
Toronto

In [40]:
for i in ["Tokyo","Istanbul","Lisbon","Trivandum","Lyon","Prague","Toronto"]:
    if (i.endswith("o")):# checks if the string ends with a letter 
     print(i)

Tokyo
Toronto

In [41]:
for i in ["Tokyo","Istanbul","Lisbon","Trivandum","Lyon","Prague","Toronto"]:
    if(i.startswith('To')):# checks if the string starts with a letter 
        print(i)

Tokyo
Toronto

In [42]:
check # to split a string and form a list

'checking for the position of a word in the string'

In [43]:
newlist=check.split(" ")
newlist

['checking',
 'for',
 'the',
 'position',
 'of',
 'a',
 'word',
 'in',
 'the',
 'string']

In [76]:
(' ').join(newlist) # join a list of string also.

'checking for the position of a word in the string'