# Tuples( heterogenous immutable sequence)

1. It is a sequence of immutable objects
2. The items should be enclosed in a simple brackets
3. It has zero based indexing
4. Size of a tuple CANNOT be changed
5. Tuples can be heterogenous
6. It can take duplicate values also
7. Tuples are ordered sequence

In [31]:
# To create a tuple
t=()
t1=(8,8,9,9,"3.4",4.5)
type(t)
t1

(8, 8, 9, 9, '3.4', 4.5)

In [2]:
t1

(8, 8, 9, 9, '3.4', 4.5)

In [3]:
t2=("a","b","c")
t3=("I","love","Tuples!")

In [5]:
# accessing tuples items by index positions
#t1[0]
t1[-1]

4.5

In [8]:
# slicing of a tuple
t1[1:4]

(8, 9, 9)

In [6]:
t1[:]

(8, 8, 9, 9, '3.4', 4.5)

In [10]:
t1[:-1]

(8, 8, 9, 9, '3.4')

In [7]:
# Updating a tuple- We cannot change any tuple element or the length of a tuple once it is created. 

t1[0]=10 It gives an error- TypeError

SyntaxError: invalid syntax (<ipython-input-7-9f2cdaaa9214>, line 3)

# Tuple methods

In [8]:
t1.count(8) # no. of times an element is present in a tuple

2

In [9]:
t1.index(4.5) # to find the index of an element

5

In [10]:
t1

(8, 8, 9, 9, '3.4', 4.5)

In [11]:
# To delete a tuple.

del t1

In [12]:
t1

NameError: name 't1' is not defined

# Basic Tuple Operations

In [13]:
A=(1,2,3,0) # concatenation
B=(0,3,2,1)
c=A+B
c

(1, 2, 3, 0, 0, 3, 2, 1)

In [14]:
(0,1)+(2,3,4)

(0, 1, 2, 3, 4)

In [22]:
X=(1,2,3)# repetition
X*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [16]:
y=("***")
y*5

'***************'

In [21]:
333 not in (222,333,444) # membership

False

In [19]:
for i in ("This","is","Tuple!"): print(i) #iteration

This
is
Tuple!

# Tuple functions

In [24]:
len(X) #length of a tuple

3

In [23]:
X

(1, 2, 3)

In [25]:
sum(X) # sum

6

In [26]:
max(X)# maximum

3

In [27]:
min(X) #minimum

1

In [28]:
list1=["x","y",2.3,4,True]
tuple1=tuple(list1)

In [35]:
tuple1

('x', 'y', 2.3, 4, True)

In [36]:
z=tuple("Tuple")

In [37]:
z

('T', 'u', 'p', 'l', 'e')

In [29]:
y=tuple("python")

In [30]:
y

('p', 'y', 't', 'h', 'o', 'n')